
/* nav header container */
.nav_header_style{
    /*structure*/
    padding: 5px;

    /*style*/
    background: var(--background-general);
    color: var(--text-color);
    
}

.header_input_name{
    /*structure*/
    border: none;
    text-align: left;
    padding-left: 0;
    /*style*/
    color: var(--text-color);
    background: inherit;
    font-size: 40px;
    font-weight: lighter;
    flex-grow: 3;

}
.header_input_name:focus{
    /*structure*/
    border: 0px !important;
    border-bottom: 2px solid;

    /*style*/
    border-color: currentColor;
}
.nav_header_icon_container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* flex:1; */
    flex-grow:1;
}
.nav_header_icon{
    /*structure*/
    display: flex;
    width:35px;
    height: 35px;
    content:"";
    overflow: hidden;
    /*style*/
    background: white;
    border-radius: 50%;
    padding: 2px;
    margin-left: auto;
}

